In [1]:
import sqlalchemy
import sys
# from ctr_pred_fun import * 
# sys.path.append('../config')
# from config import *
import io
import pandas as pd
import numpy as np
import sqlalchemy
import os
import glob
import locale
import time
import re
import warnings
import openpyxl
import calendar
import xlwings as xw
import io
import base64
from functools import reduce
from tqdm import tqdm
from datetime import datetime
from openpyxl.styles import Font, Color, Alignment, Border, Side, NamedStyle, PatternFill
from openpyxl.worksheet.dimensions import ColumnDimension
from openpyxl import  load_workbook
from openpyxl.utils.cell import get_column_letter
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.styles import Font, Color, Alignment, Border, Side, NamedStyle, PatternFill
from openpyxl.worksheet.dimensions import ColumnDimension
from urllib.parse import quote
from dateutil.relativedelta import relativedelta
from IPython.display import Markdown as md
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError
from datetime import datetime, timedelta

In [59]:
date_selected = '2024-10-15'

In [60]:
def prev_month_name(month_num):
    previous_months_names = []
    for i in range(1, 8):
        prev_idx = (int(month_num) - i) % 12
        previous_months_names.append(calendar.month_name[prev_idx + 1])
    return previous_months_names

In [61]:
        date_list = str(date_selected).split('-')
        print('date_selected',date_selected)
#         print('year_mon',year_mon)

date_selected 2024-10-15

In [62]:
        month_name = prev_month_name(date_list[1])

In [63]:




        # Define the starting row
        start_row = 4  # Change this to your desired starting row

        # Load the Excel file
        file_path = fr'''\\172.20.1.68\shared\Monthly_Reports\{date_list[0]}\{month_name[0]}_{date_list[0]}\Monthly Report {month_name[0]} {date_list[0]}.xlsx'''  # Replace with your file path
        xl = pd.ExcelFile(file_path)

In [64]:

        # Define the starting row
        start_row = 4  # Change this to your desired starting row

        # Dictionary to hold data from each sheet
        sheet_data = {}

In [65]:


        # Loop through each sheet and read data
        for sheet_name in xl.sheet_names:
            # Read data from the specified starting row
            df = xl.parse(sheet_name, skiprows=start_row-1)  # skiprows is zero-indexed
            sheet_data[sheet_name] = df

In [66]:
        z = list(sheet_data.values())

In [67]:
df1 = z[3]
df1 = df1[0:13]
df1 = df1[['MONTH YEAR', 'STR', 'CTR', 'NTR', 'CBWTR', 'CCR', 'BDU*']]
df1.columns = df1.columns.str.upper()
df2 = z[4]
df2.columns = df2.columns.str.upper()
df3 = z[7]
df3 = df3[['FIUREID','NTRs BELOW THRESHOLD']]
df3.columns = df3.columns.str.upper()
df4 = z[8]
df4 = df4[['FIUREID','NTRs WITH WITHDRAWALS']]
df4.columns = df4.columns.str.upper()
df5 = z[9]
df5 = df5[['FIUREID','CTR','NTR','CBWTR']]
dict1 = {'CTR':'CTR_Missing_trn','NTR':'NTR_Missing_trn','CBWTR':'CBWTR_Missing_trn'}
df5.rename(columns=dict1 , inplace = True)
df5.columns = df5.columns.str.upper()
df6 = z[10]
df6 = df6[['FIUREID','CBWTRs BELOW THRESHOLD']]
df6.rename(columns={'CBWTRs BELOW THRESHOLD':'EFTS_AMOUNTING_LESS_THAN_5_LAKHS'} , inplace = True)
df6.columns = df6.columns.str.upper()
df7 = z[11]
df7 = df7[['FIUREID','CBWTRs WITH MISSING ACCOUNT NUMBER']]
df7.rename(columns={'CBWTRs WITH MISSING ACCOUNT NUMBER':'EFT_Missing_Account_REPORTS'} , inplace = True)
df7.columns = df7.columns.str.upper()
df8 = z[12]
df8 = df8[['FIUREID','CBWTRs WITH SENDER & BENEFICIARY COUNTRY NOT INDIA']]
df8.rename(columns={'CBWTRs WITH SENDER & BENEFICIARY COUNTRY NOT INDIA':'EFTS_WITH_SENDER_AND_BENEFICIARY_COUNTRY_NOT_INDIA'} , inplace = True)
df8.columns = df8.columns.str.upper()
df9 = z[13]
df9 = df9[['FIUREID','CBWTRs WITH MISSING STATE NAME']]
df9.rename(columns={'CBWTRs WITH MISSING STATE NAME':'EFTS_WITH_MISSING_STATE_NAME'} , inplace = True)
df9.columns = df9.columns.str.upper()
df10 = z[14]
df10 = df10[['FIUREID','CBWTRs WITH BOTH INR & FOREIGN CURRENCY EQUAL']]
df10.rename(columns={'CBWTRs WITH BOTH INR & FOREIGN CURRENCY EQUAL':'EFTS_WITH_BOTH_INR_AND_FOREIGN_CURRENCY_EQUAL'} , inplace = True)
df10.columns= df10.columns.str.upper()

C:\Users\LTIM_10693340\AppData\Local\Temp\ipykernel_19504\3607028495.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.rename(columns=dict1 , inplace = True)
C:\Users\LTIM_10693340\AppData\Local\Temp\ipykernel_19504\3607028495.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6.rename(columns={'CBWTRs BELOW THRESHOLD':'EFTS_AMOUNTING_LESS_THAN_5_LAKHS'} , inplace = True)
C:\Users\LTIM_10693340\AppData\Local\Temp\ipykernel_19504\3607028495.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7.rename(columns={'CBWTRs WITH MISSING ACCOUNT NUMBER':'EFT_Missing_Account_REPORTS'} , inplace = True)
C:\Users\LTIM_10693340\AppData\Local\Temp\ipykernel_19504\3607028495.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df8.rename(columns={'CBWTRs WITH SENDER & BENEFICIARY COUNTRY NOT INDIA':'EFTS_WITH_SENDER_AND_BENEFICIARY_COUNTRY_NOT_INDIA'} , inplace = True)
C:\Users\LTIM_10693340\AppData\Local\Temp\ipykernel_19504\3607028495.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df9.rename(columns={'CBWTRs WITH MISSING STATE NAME':'EFTS_WITH_MISSING_STATE_NAME'} , inplace = True)
C:\Users\LTIM_10693340\AppData\Local\Temp\ipykernel_19504\3607028495.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10.rename(columns={'CBWTRs WITH BOTH INR & FOREIGN CURRENCY EQUAL':'EFTS_WITH_BOTH_INR_AND_FOREIGN_CURRENCY_EQUAL'} , inplace = True)

In [71]:
df1.values

array([[datetime.datetime(2023, 10, 1, 0, 0), 22805.0, 1077739.0,
        64756.0, 541529.0, 14376.0, 135493.0],
       [datetime.datetime(2023, 11, 1, 0, 0), 17958.0, 1080562.0,
        52964.0, 554432.0, 1956.0, 0.0],
       [datetime.datetime(2023, 12, 1, 0, 0), 16498.0, 1100260.0,
        55812.0, 578677.0, 14473.0, 0.0],
       [datetime.datetime(2024, 1, 1, 0, 0), 24166.0, 681482.0, 30362.0,
        384282.0, 12193.0, 0.0],
       [datetime.datetime(2024, 2, 1, 0, 0), 22481.0, 811662.0, 34622.0,
        478042.0, 15225.0, 445650.0],
       [datetime.datetime(2024, 3, 1, 0, 0), 23056.0, 1574543.0, 55865.0,
        603154.0, 15201.0, 209456.0],
       [datetime.datetime(2024, 4, 1, 0, 0), 23101.0, 1285225.0, 77624.0,
        1173515.0, 25606.0, 79381.0],
       [datetime.datetime(2024, 5, 1, 0, 0), 38745.0, 1073351.0, 39586.0,
        487017.0, 14882.0, 116922.0],
       [datetime.datetime(2024, 6, 1, 0, 0), 26695.0, 1399280.0, 74498.0,
        654994.0, 15946.0, 67245.0],
       [datetime.datetime(2024, 7, 15, 0, 0), 45869.0, 1387704.0,
        89970.0, 596361.0, 15093.0, 6399.0],
       [datetime.datetime(2024, 8, 15, 0, 0), 23148.0, 1210038.0,
        69499.0, 820501.0, 16092.0, 6068.0],
       [datetime.datetime(2024, 9, 15, 0, 0), 31527.0, 1200088.0,
        72978.0, 793149.0, 14633.0, 23003.0],
       [datetime.datetime(2024, 10, 15, 0, 0), 37993.0, 1186370.0,
        72679.0, 777504.0, 15046.0, 10302.0]], dtype=object)

In [69]:
df_merged

,sl. no.,FIUREID,RE_NAME,RE_TYPE,RETYPE_DESCRIPTION,LINE_OF_BUSINESS,CATEGORY_DESCRIPTION,FIU_JOINT_DIRECTOR,STR,CTR,...,NTRS BELOW THRESHOLD,NON_RECEIPTS,CTR_Missing_trn,NTR_Missing_trn,CBWTR_Missing_trn,EFTS_AMOUNTING_LESS_THAN_5_LAKHS,EFT_Missing_Account_REPORTS,EFTS_WITH_SENDER_AND_BENEFICIARY_COUNTRY_NOT_INDIA,EFTS_WITH_MISSING_STATE_NAME,EFTS_WITH_BOTH_INR_AND_FOREIGN_CURRENCY_EQUAL
0,1,BASCB00050,STATE BANK OF INDIA,BA,Banks,BAPUB,PUBLIC SECTOR BANKS,GAURAV SINGH,8610,218693,...,NaN,NaN,0.0,34.0,0.0,NaN,9912.0,NaN,21899.0,11606.0
1,2,BASCB00071,HDFC BANK LIMITED,BA,Banks,BAPVT,PRIVATE SECTOR BANKS,KEERTHISHRI S,1598,115697,...,NaN,NaN,0.0,180.0,0.0,494.0,16669.0,NaN,122303.0,41615.0
2,3,BASCB00072,ICICI BANK LIMITED,BA,Banks,BAPVT,PRIVATE SECTOR BANKS,VELUSWAMY ILANCHELIYAN,1676,80284,...,NaN,NaN,356.0,90.0,0.0,NaN,1202.0,NaN,101516.0,40144.0
3,4,BASCB00074,INDUSIND BANK LIMITED,BA,Banks,BAPVT,PRIVATE SECTOR BANKS,MANISH KUMAR,508,6203,...,NaN,NaN,0.0,6.0,0.0,NaN,74622.0,NaN,105298.0,2238.0
4,5,BASCB00061,AXIS BANK,BA,Banks,BAPVT,PRIVATE SECTOR BANKS,VELUSWAMY ILANCHELIYAN,1954,81339,...,NaN,NaN,3458.0,141.0,0.0,NaN,1574.0,NaN,24064.0,2767.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,1088,INBRO02952,ICICI SECURITIES LIMITED,BF,Intermediary,BFBRO,SHARE BROKERS,SANJOY GHOSH,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1088,1089,BA00058482,"MIZUHO BANK, LTD GIFT IBU",BA,Banks,BAFOR,FOREIGN BANKS,NOT MAPPED,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1089,1090,BA00050079,"MYSORE ZILLA MAHILA SAHAKARA BANK NIYAMITHA,MY...",BA,Banks,BANUC,NON SCHEDULED URBAN COOPERATIVE BANKS,NOT MAPPED,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1090,1091,BA00050081,SRI KANNIKAPARAMESWARI CO OPERATIVE BANK LIMITED,BA,Banks,BANUC,NON SCHEDULED URBAN COOPERATIVE BANKS,NOT MAPPED,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1091,1092,BA00049012,SAMATA SAHAKARI BANK SEEMIT,BA,Banks,BALAB,LOCAL AREA BANKS,NOT MAPPED,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN